* {
  user-select: none;
}

html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg1: rgb(0, 0, 70);
  --color-bg2: rgb(0, 0, 0);
  --color3: 0, 0, 255;
  --color4: 255, 100, 255;
  --color2: 88, 247, 255;
  --color1: 200, 0, 200;
  --color5: 0, 13, 255;
  --color-interactive: 255, 255, 255;
  --circle-size: 100vh;
  --blending: screen;
}

@keyframes moveInCircle {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(180deg);}
  100% { transform: rotate(360deg);}
}

@keyframes moveVertical {
  0% { transform: translateY(-50%);}
  50% { transform: translateY(50%);}
  100% { transform: translateY(-50%);}
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50%) translateY(-10%);}
  50% { transform: translateX(50%) translateY(10%);}
  100% { transform: translateX(-50%) translateY(-10%);}
}

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 0;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    z-index: 0;
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1, .g2, .g3, .g4, .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
  }

  .g1 {
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    animation: moveVertical 30s ease infinite;
  }

  .g2 {
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  }

  .g3 {
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  }

  .g4 {
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }

  .g5 {
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  }

.interactive {
    position: fixed;
    width: 200px;
    height: 200px;
    top: -15vh;
    left: -15vh;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    pointer-events: none;
    opacity: .2;
    z-index: 1;
  }
}

  .text-shadow {
    filter:
      drop-shadow(.5px .5px 0px black)
      drop-shadow(.2px .2px .2px white)
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.3))
      drop-shadow(0 0 1px white);
  }

  .text-outline {
    -webkit-text-stroke: .5px black;
    color: white;
  }

  .text-container {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 10vh;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }